@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
a,p,span,input,select,li,h1,h2,h3,h4,h5,h6,textarea, form, ul, tr, ol{
    font-family: 'Noto Kufi Arabic', sans-serif !important;
}

a, a:hover{
        text-decoration: none;
}

body{
    padding-bottom: 50px;
}
.frist-sec{
    border-bottom: 4px solid#636363;
}

.frist-sec .left-side p{
    font-size: 18px;
}
.frist-sec .left-side h4{
    border-bottom: 1px solid#000;
    padding-bottom: 3px;
    font-size: 13px;
}
.frist-sec .right-side img{
    height: 100px;
}
.title_001 {
    border-bottom: 2px solid#fbb315;
}
 .all-forma .PageTitle h2{
        padding: 10px;
}
.all-forma .title22 h3{
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
}
.all-forma .teacher-code{
    margin: 25px 10px 0 0px;
    padding: 10px
}
.all-forma .ImageForm{
    width: 125px;
    height: 125px;
    border-radius: 24px;
    margin-top: 15px;
    
}
.all-forma .TeacherName input{
    width: 100%;
}
.all-forma input{
    width: 100%;
    margin: 5px 0 15px 0;
    padding: 6px 5px 5px 0;
}
.all-forma .marg{
    padding-right: 10px;
}
.all-forma .selection form .selectpicker{
    width: 100%;
    margin: 4px 0 0 0;
    padding: 3px 5px 3px 0;
}
.SecondForm{
    margin-top:10px;
}
.promise {
    text-align: justify;
    border: 1px solid#a0a0a0;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    color: #292929;
    margin-bottom: 0px;
}
.promise p span{
    color:red;
}
.test20 h3{
    font-size: 16px;
    text-align: center;
}
.prog_name{
    padding: 5px;
    display: inline-block;
    width: 100%;
}
.prog_name h3{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 6px;
    background: #fbb315;
    float: right;
}
.prog_name p{
    float: right;
    display: inline-block;
    padding: 0 25px;
}
.prog_detials{
    margin-top: 0px;
}
.border_0022{
    border-bottom: 2px solid#fbb315;
    display: inline-block;
    width: 100%;
}

/* ======================= Page 3================== */
.list-form .list ul li {
    font-size: 17px;
    padding: 5px 0 5px 0;
    text-align: justify;
}
.list-form .right22{
    border: 2px solid#888;
    padding: 10px 20px 10px 27px;
    background: #f7f7f7;
        height: 267px;
}
.list-form .right22 h2{
    font-size: 20px;
    text-align: center;
}
.list-form .left22{
    border: 2px solid#888;
    padding: 10px 20px 10px 27px;
    background: #f7f7f7;
    height: 267px;
}
form{
    padding: 3px 0 3px 0;
    font-size: 13px;
}
/*** table-form ***/
.table-form .table-title span{
    padding: 25px 20px 25px 0;
    font-size: 30px;
}
.table-form .table-title{
    text-align: center;
    margin: 20px 0 20px 0;
}
.table-form .table-title img{
    width: 76px;
    height: 48px;
}
.table-form .table{
    border: 2px solid#ececec;
}
.table-form .table-form .box {
	background: #fff;
}
.table-form .table-hover > tbody > tr:hover {
    background-color: #e8e8e8;
}

.table th{
    background: #5d5d5d;
    color: #fff;
    text-align: center;
}
.table td{
       text-align: center; 
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #9a9a9a;
}
.list2 ul li {
    font-size: 17px;
    padding: 5px 0 5px 0;
    text-align: justify;
}
.list2 p{
        font-size: 18px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}
.new_line_001{
    margin-top: 10px;
    border-top: 1px solid #9a9a9a;
    padding-top: 10px;
}
.country_payment h4{margin: 2px;}
.country_payment span{
    background: #ffdb8c;
    padding: 0px 5px;
    margin-left: 10px;
}
.other_info_0{
    margin-top: 5px;
    border-bottom: 1px solid #9a9a9a;
    padding-bottom: 10px;
}
.gneral_terms{
    border-bottom: 1px solid #9a9a9a;
    padding: 5px;
}
.gneral_terms{
    display: inline-block;
    width: 100%;
}
.general_terms_title{
    float: right;
    width: 10%;
}
.general_terms_title div p{
    background: #ccc;
    padding: 8px;
}
.general_terms_title div{
    padding-top: 30px;
}
.terms_points{
    width: 90%;
    display: inline-block;
}
.terms_points ol{
    margin-bottom: 0px !important;
}
.terms_points ol li{
    font-size: 12px;
}
.final_info{
    display: inline-block;
    width: 100%;
}
.final_info .info_img{
    float: right;
}
.info_img img{
    width: 70px;
    height: 70px;
}
.info_de{
    display: inline-block;
    padding-right: 15px;
}
.country_payment h4{
line-height: 30px;
}
.SecondForm h4{
    font-size: 13px;
}
/* ======================= Page 4 ================== */
.report h2{
    font-size: 26px;
    font-weight: bold;
}
.report .report1 p{
 font-size: 21px;
}
.report p span{
        font-size: 14px;
    color: #a9a9a9;
}
.report2{
        float: left;
}
.date-text{
    padding-top: 20px;
}


.selection .checkbox-inline input[type="checkbox"] {
    margin: 4px -35px 0px 0;
}
.selection .checkbox-inline span{
    padding-right: 17px;
}



@media print {
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: right;
   }
   .col-md-12 {
        width: 100%;
   }
   .col-md-11 {
        width: 91.66666667%;
   }
   .col-md-10 {
        width: 83.33333333%;
   }
   .col-md-9 {
        width: 75%;
   }
   .col-md-8 {
        width: 66.66666667%;
   }
   .col-md-7 {
        width: 58.33333333%;
   }
   .col-md-6 {
        width: 50%;
   }
   .col-md-5 {
        width: 41.66666667%;
   }
   .col-md-4 {
        width: 33.33333333%;
   }
   .col-md-3 {
        width: 25%;
   }
   .col-md-2 {
        width: 16.66666667%;
   }
   .col-md-1 {
        width: 8.33333333%;
   }
    .right-side h2 {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 6px;
}
    .all-forma .title22 h3 {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}
    .promise {
    text-align: justify;
    border: 1px solid#a0a0a0;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    color: #292929;
    margin-bottom: 0px;
}
    
.name {
    margin: 12px 0 12px 0;
}
    .SecondForm {
    margin-top: 0;
}
    .all-forma .title22 h3 {
    padding-bottom: 0px;
    padding-right: 22px;
    font-weight: bold;
    font-size: 18px;
}

h2{
    font-size: 16px;
}
h3{
    font-size: 14px;
}    

p,span{
    font-size: 12px !important; 
}
}

.title22{
    float: right;
    width: 100%;
}
.title22 h3{
    margin: 2px 0px;
    display: inline-block;
    background: #cccccc;
    padding: 10px 15px 10px 80px !important;
}

h2{
    font-size: 16px;
}
h3{
    font-size: 14px;
}    

p,span{
    font-size: 12px !important; 
    margin: 0px;
}

