@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
a,p,span,input,select,li,h1,h2,h3,h4,h5,h6,textarea, form, ul, tr{
    font-family: 'Noto Kufi Arabic', sans-serif !important;
}

a, a:hover{
        text-decoration: none;
}

body{
    padding-bottom: 110px;
}

/*** تعديل **/
.name{
    margin: 6px 0px;
}
.name p{
    font-size: 12px;
}
.name input{
    position: absolute;
    top: -7px;
}
.name p .uni{
        margin-right: 40px;
}
/*** تعديل **/

.frist-sec{
    border-bottom: 4px solid#636363;
}

.frist-sec .left-side img{
    height: 80px;
    float: right;
    margin: 10px 0 10px 0;
}
 .all-forma .PageTitle h2{
    font-size: 20px;
 }
 .all-forma .PageTitle h2{
        /* padding: 10px;*/
}
.all-forma .title22 h3{
    font-weight: bold;
    font-size: 14px;
}
.all-forma .teacher-code{
    margin: 25px 10px 0 0px;
    padding: 10px
}
.all-forma .ImageForm{
    max-width: 200px;
    max-height: 220px;
    border-radius: 24px;
    margin-top: 15px;
    position: absolute;
    left: 20px;
}
.all-forma .TeacherName input{
    width: 100%;
}
.all-forma input{
    width: 100%;
    margin: 5px 0 15px 0;
    padding: 6px 5px 5px 0;
}
.all-forma .marg{
    padding-right: 10px;
}
.all-forma .selection form .selectpicker{
    width: 100%;
    margin: 4px 0 0 0;
    padding: 3px 5px 3px 0;
}
.SecondForm{
    margin-top:0px;
}
.promise{
    text-align: justify;
    border: 2px solid#a0a0a0;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    color: #292929;
}
.promise p span{
    color:red;
}
.test20 h3{
    font-size: 16px;
    text-align: center;
}




/* ======================= Page 3================== */
.list-form .list ul li {
    font-size: 13px;
    padding: 5px 0 5px 0;
    text-align: justify;
}
.list-form .right22{
    border: 2px solid#888;
    padding: 10px 20px 10px 27px;
    background: #f7f7f7;
        height: 267px;
}
.list-form .right22 h2{
    font-size: 20px;
    text-align: center;
}
.list-form .left22{
    border: 2px solid#888;
    padding: 10px 20px 10px 27px;
    background: #f7f7f7;
        height: 267px;
}
form{
        padding: 10px 0 10px 0;
}
/*** table-form ***/
.table-form .table-title span{
    padding: 25px 20px 25px 0;
    font-size: 30px;
}
.table-form .table-title{
    text-align: center;
    margin: 20px 0 20px 0;
}
.table-form .table-title img{
    width: 76px;
    height: 48px;
}
.table-form .table{
    border: 2px solid#ececec;
}
.table-form .table-form .box {
	background: #fff;
}
.table-form .table-hover > tbody > tr:hover {
    background-color: #e8e8e8;
}

.table th{
    background: #5d5d5d;
    color: #fff;
    text-align: center;
}
.table td{
       text-align: center; 
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #9a9a9a;
}
.list2 ul li {
    font-size: 13px;
    padding: 5px 0 5px 0;
    text-align: justify;
}
.list2 p{
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: bold;
}
/* ======================= Page 4 ================== */
.report h2{
    font-size: 38px;
    font-weight: bold;
}
.report .report1 p{
 font-size: 21px;
}
.report p span{
        font-size: 18px;
    color: #a9a9a9;
}
.report2{
        float: left;
}
.date-text{
    padding-top: 20px;
}

.selection .checkbox-inline input[type="checkbox"] {
    margin: 4px -35px 0px 0;
}
.selection .checkbox-inline span{
    padding-right: 17px;
}



@media print {
    body,html{
        margin: 0px;
        padding: 0px;
    }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: right;
   }
   .col-md-12 {
        width: 100%;
   }
   .col-md-11 {
        width: 91.66666667%;
   }
   .col-md-10 {
        width: 83.33333333%;
   }
   .col-md-9 {
        width: 75%;
   }
   .col-md-8 {
        width: 66.66666667%;
   }
   .col-md-7 {
        width: 58.33333333%;
   }
   .col-md-6 {
        width: 50%;
   }
   .col-md-5 {
        width: 41.66666667%;
   }
   .col-md-4 {
        width: 33.33333333%;
   }
   .col-md-3 {
        width: 25%;
   }
   .col-md-2 {
        width: 16.66666667%;
   }
   .col-md-1 {
        width: 8.33333333%;
   }
    .right-side h2 {
        font-size: 20px;
        margin-top: 8px;
    }
    .all-forma .title22 h3 {
        font-weight: bold;
        font-size: 14px;
        margin: 10px;
    }
    .promise {
        text-align: justify;
        border: 2px solid#a0a0a0;
        padding: 10px;
        border-radius: 20px;
        font-size: 14px;
        color: #292929;
    }
    
    .name {
        margin: 6px 0px;
    }
    .SecondForm {
        margin-top: 10px;
    }
    .all-forma .title22 h3 {
        padding-right: 22px;
        font-weight: bold;
        font-size: 14px;
        margin: 10px;
    }
    .promise p {
        margin: 0px;
        font-size: 14px !important;
    }
    h2,h3,h4{
        margin: 10px;
    }

    p{
        margin: 0 0 8px !important;
    }
}
  h2,h3,h4{
        margin: 10px;
    }
    .right-side h2 {
        font-size: 20px;
        margin-top: 8px;
    }