@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
a,p,span,input,select,li,h1,h2,h3,h4,h5,h6,textarea,td,tr,th,button,ul,ol,div{
	font-family: 'Noto Kufi Arabic', sans-serif !important;
}
.login-label{
	padding-right: 0px !important;
}
.form-control .error{
	background-image: linear-gradient(#42a5f5,#42a5f5),linear-gradient(rgba(255, 11, 56, 0.5),rgba(152, 7, 7, 0.5)) !important;
}
.error{
	color: #e80000 !important;
	
}
.input-group-addon{
	border-right: 0px !important;
    border-left: 0px;
}
.sidebar-overlay .tabpanel .nav-tabs{
	position: absolute;
    display: inline-block;
    z-index: 15;
    width: 100%;
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/materialicons/v28/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.receptionUpBtn{
  margin-top: 15px;
}
.ManualDZ{
    padding: 30px 0px;
    text-align: center;
    border: 1px dotted #ccc;
}
.ManualDZ .dz-message{
  background-size: 90%;
}
.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#42a5f5,#42a5f5),linear-gradient(rgba(165,181,203,.5),rgba(165,181,203,.5));
    background-size: 0 2px,100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom,center calc(100% - 1px);
    background-color: transparent;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
}
#output{
    position: relative;
    margin: 10px;
    color: red;
    font-size: 14px;
    font-family: serif;
    font-weight: bold;
}
.bTnProgressUpload,#openUploadNotify{
    position: absolute !important;
    top: 99px !important;
    left: 93px !important;
}
#progress-U {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    border-radius: 3px;
    margin: 10px;
    text-align: center;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}
#progress-U .progress-barUpload{
    height: 20px;
    border-radius: 3px;
    background-color: rgba(33, 193, 57, 0.8);
    width: 0%;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}
#progress-U .status{
    top: 3px;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    color: #4a545f;
}

/* Bill STYLE */
.Billlogo{
  max-width: 115px;
  display: inline-block;
  float: right;
}
.billInfo{
    width: 100%;
    float: right;
}
.AcademyInfo{
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.billFooter{
    width: 100%;
    display: inline-block;
    float: right;
    margin-top: 10px;
}
.InfoSpanFooter{
    float: right;
    /* margin: 11px 10px 0px 0px; */
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    font-size: 12px !important;
    width: 100%;
    display: block;
}
.InfoSpan{
    float: right;
    margin: 11px 10px 0px 0px;
    font-weight: bold;
    font-size: 11px;
}
.billTable{
  margin: 20px 0px;
}

.bTnProgressUpload{
  z-index: 0;
}
.MinHeight{
  min-height: 250px !important;
}
 @media screen
   {
      .billTable thead tr{
        background-color: #ccc;
      }
   }

   @media print
   {
      .billTable thead tr{
        background-color: #ccc;
      }
   }
   @media screen, print
   {
      .billTable thead tr{
        background-color: #ccc;
      }
   }
}
}

.billTable > tbody > tr >td{
  border: 1px solid #d7e1ed !important;
}
.billTable thead tr{
  background-color: #ccc;
}
.PrinterArea{
  min-height: 400px !important;
}
/* END Bill STYLE */

/* TABLE CENTER */
.card.card-data-tables .mdl-data-table td,.card.card-data-tables .mdl-data-table th{
  text-align: center;
}
.dataTables_info,.dataTables_paginate {
  display: none;
}

@media (min-width: 768px)
vendor.bundle.css:5
.lead {
    font-size: 12px;
}
.radio label, .checkbox label{
  padding-left: 20px !important;
}
.invoice_border{
    float: right;
    width: 100%;
    height: 47px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: 2px dotted #ccc;
    border-radius: 21px;
    margin: 13px 0px;
}
.alertify-logs{
    position: fixed !important;
    bottom: 2%;
}
.iMgHover a{
  margin: 0px 5px !important;
}
.iMgHover{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}
.showSweetAlert{
  z-index: 99999;
}