body
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 background-color:#EC7063;
}
#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:995px;
}
#wrapper h1
{
 margin-top:50px;
 font-size:45px;
 color:#922B21;
}
#wrapper h1 a
{
color:#922B21;
font-size:18px;
}
#table_div input[type="text"]
{
 width:120px;
 height:35px;
 padding-left:5px;
 border-radius:3px;
 border:none;
}
#table_div input[type="submit"]
{
 width:375px;
 height:35px;
 border-radius:3px;
 border:1px solid #922B21;
 background:none;
 color:#922B21;
}